@use "../utils/vars" as *;
@use "../utils/mixins" as *;

.form-radio {
    display: flex;
    gap: 8px;

    &__label {
        @include styles-label;
        @include flex-center;
        cursor: pointer;
        gap: 8px;

        &::before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid $input-border-color;
            box-sizing: border-box;
            transition: all 0.1s;
        }
    }

    &__radio {
        opacity: 0;
        display: none;
    }

    &__radio:checked + &__label::before {
        border: 6px solid $btn-background;
        transition: all 0.1s;
    }
}