@use "../utils/vars" as *;
@use "../utils/mixins" as *;

.section-padding {
    padding: 120px 0;

    @media (max-width: $bp-tablet) {
        padding: 100px 0;
    }
}

.hide {
    display: none;
}

.info-block {
    max-width: 770px;
    max-height: 580px;
    background-color: #fff;
    opacity: 0.9;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: $bp-tablet) {
        max-width: 100%;
        opacity: 1;
        position: static;
        transform: translateY(0);
    }
}