@use "./vars" as *;
@use "./mixins" as *;

.experience {
    width: 100%;
    padding: 30px 0;


    &-body {
        margin-top: 40px;
    }

    &-list {
        display: flex;
        gap: 30px;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;

        &__item {
            width: 100%;
            flex: 1;
            flex-basis: 300px;
            padding: 40px;
            border: 1px solid $experience-item-border;
            border-radius: 16px;
            transition: all 0.3s;

            &:hover {
                border: 1px solid $experience-hover-border;
                transition: all 0.3s;
            }
        }

        &__img {
            width: 64px;
            height: 64px;
            border: 1px solid $experience-item-border;
            border-radius: 16px;
            @include flex();

            
        }

        &__title {
            @include font("Roboto", 500, 24px);
            margin-top: 30px;
        }

        &__text {
            @include font("Roboto", 400, 16px);
            margin-top: 15px;
        }

        &__link {
            @include font("Roboto", 400, 16px);
            margin-top: 30px;
        }

    }

    &-icon {
        width: 39px;
        height: 36px;
    }
    
}