//text
$subtitle-color: #7690A8;
$title-color: #000;
$link-color: #3DB370;

$header-border: #EFEEF3;
$experience-item-border: #E5EAF4;
$experience-hover-border: #3DB370;


//footer
$footer-background: #16133D;

//icons
$icon-block-backround: #EFEEF3;