@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Regular.eot');
  src: url('../assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/fonts/Lato-Regular.woff') format('woff'),
       url('../assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Light.eot');
  src: url('../assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), 
       url('../assets/fonts/Lato-Light.woff') format('woff'),
       url('../assets/fonts/Lato-Light.ttf') format('truetype');
  font-weight: 300; 
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Bold.eot');
  src: url('../assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), 
       url('../assets/fonts/Lato-Bold.woff') format('woff'),
       url('../assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/fonts/PlayfairDisplayRegular.eot');
  src: url('../assets/fonts/PlayfairDisplayRegular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/fonts/PlayfairDisplayRegular.woff') format('woff'),
       url('../assets/fonts/PlayfairDisplayRegular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/fonts/PlayfairDisplayItalic.eot');
  src: url('../assets/fonts/PlayfairDisplayItalic.eot?#iefix') format('embedded-opentype'), 
       url('../assets/fonts/PlayfairDisplayItalic.woff') format('woff'),
       url('../assets/fonts/PlayfairDisplayItalic.ttf') format('truetype');
  font-weight: 400; 
  font-style: italic;
}

