@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Regular.eot');
  src: url('../assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/fonts/Lato-Regular.woff') format('woff'),
       url('../assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Medium.eot');
  src: url('../assets/fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), 
       url('../assets/fonts/Lato-Medium.woff') format('woff'),
       url('../assets/fonts/Lato-Medium.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('../assets/fonts/RedHatDisplay-Medium.eot');
  src: url('../assets/fonts/RedHatDisplay-Medium.eot?#iefix') format('embedded-opentype'), 
       url('../assets/fonts/RedHatDisplay-Medium.woff2') format('woff2'),
       url('../assets/fonts/RedHatDisplay-Medium.woff') format('woff'),
       url('../assets/fonts/RedHatDisplay-Medium.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('../assets/fonts/RedHatDisplay-Bold.eot');
  src: url('../assets/fonts/RedHatDisplay-Bold.eot?#iefix') format('embedded-opentype'), 
       url('../assets/fonts/RedHatDisplay-Bold.woff2') format('woff2'),
       url('../assets/fonts/RedHatDisplay-Bold.woff') format('woff'),
       url('../assets/fonts/RedHatDisplay-Bold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
}

