$body-background: #F7F7F7;
$form-background: #fff;
$input-border-color: #E4E4E4;
$input-outline: #007BFF;
$input-color: #969696;
$btn-background: #007BFF;
$btn-color: #FFFFFF;
$main-text-color: #545454;
$important-text: #969696;
$link-color: #007BFF;