//text
$main-color: #FFCC00;
$text-color: #666666;
$icon-color: #CCCCCC;
$subtitle-color: #898F8F;
$color-paragraph: #333333;

//fonts
$font-main: "Roboto", sans-serif;
$font-second: "Raleway", sans-serif;