$post-subtitle-color: #7B7B7B;
$post-title-color: #000;

$post-padding: 0;

$nav-text-color: #000;
$btn-background: #565656;
$btn-color: #fff;

$footer-background: #F4F4F4;

$bp-mobile: 460px;
$bp-tablet: 768px;
$bp-desktop: 1200px;